* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Roboto, roboto, sans-serif;
}

.debug {
    border: 1px solid red;
    flex-direction: column;
    justify-content: space-between;
}

body {
    display: flex;
}

.nav-header {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff159;
    border: 0;
    position: relative;
}

main {
    width: 100%;
    background-color: #EBEBEB;
}

.main-content {
    height: 100%;
    display: flex;
}

.nav-search {
    border: 1px solid red;
    display: flex;
    align-items: center;
    grid-area: nav-search;
}

.logo {
    height: 40px;
    grid-area: logo;
}

.domicilio {
    grid-area: domicilio;
    color: #333333;
}

.categorias {
    display: flex;
    grid-area: categoria;
    color: #333333;
    opacity: 60%;
    justify-content: space-between;

}

.search {
    grid-area: search;
}

.cuenta{
    display: flex;
    grid-area: cuenta;
    color: #333333;
    justify-content: end;
    column-gap: 10px;
}

.nav-banner {
    display: grid;
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-auto-rows: 40px 28px;
    grid-template-areas:
        "logo search vacio"
        "domicilio categoria cuenta";
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    padding: 16px 10px 12px 16px;

}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.ul_rows li {
    display: inline;
}

.ul_rows{
    position: absolute;
    padding-bottom: 10px;
}


.publicidad{
    display: flex;
    width: 100%;
    height: 340px;
    flex-direction: column;
    background-color: #333;
    align-items: center;
    justify-content: flex-end;
    

}

.img-publicidad{
    height: 100%;
}









.nav-search-input {
    position: relative;
    z-index: 915;
    color: #333;
    font-size: 16px;
    margin: 0;
    font-family: inherit;
    border-radius: 2px;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 1.5px;
}

.nav-search-btn {
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    color: #666;
    line-height: 1em;
    border-radius: 0 2px 2px 0;
    width: 46px;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    background-image: none;
    height: 40px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.pseudo_search {
    display: flex;
    align-items: start;
}